@import "src/assets/styles/variables";

div:first-child{
    color: $color-black-lighter;
    margin-bottom: 8px;

    span{
        font-weight: normal;
    }
}

div:nth-child(2){
    margin-bottom: 8px;
    line-height: 16px;
    font-weight: normal;
    color: $color-black;

}
