@import "src/assets/styles/variables";

::ng-deep app-address-input {

    app-chips-option .p-chips p-dropdown .p-dropdown .p-dropdown-panel {
        @include multiselect-style;
        width: auto;
    }
}

div{
    position: relative;


    &:hover textarea{
        @extend %input-hover;
    }

    &:hover textarea.p-filled + i, textarea:focus-visible + i{
        display: block;
    }

    textarea + i{
        @include times;
    }


}


