body{
    margin: 0;
}

.loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 26px;
    color: #72727d;
}
