:host{
    display: inline-flex;
    padding-left: 6px;
    height: 18px;
    min-width: max-content;
    width: 18px;
}

div{
    width: inherit;
    height: inherit;
    border-radius: 50px;
    margin-left: -4px;
    border: 1px solid white;
}


